
# Python cache/compiled files
__pycache__/
*.py[cod]


# Virtual environment folder
angelvirtualenvmod3/


# Logs (ignore contents but keep the folder)
logs/*
!logs/.gitkeep


# VS Code / system files
.vscode/
.DS_Store


# Ignore large datasets
data/processed/*
data/raw/*

# ignore app.log file
angel_jpcode3/logs/app.log
